.header-img {
  width: 100%;
}

.header {
  height: 8.5rem;
  padding: 1rem 2rem 0 1rem;
  background-color: #181818;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  padding-left: 0.8rem;
  color: white;
  font-weight: 450;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.title-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icon {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin-right: 1rem;
}

.tabs {
  font-size: 0.9rem;
  font-weight: 450;
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  color: #a0a0a0;
}

.tabs span {
  width: 7rem;
  padding-bottom: 0.5rem;
  text-align: center;
}

.tabs .selected {
  border-bottom: 3.5px solid #909090;
  color: white;
}

.title-text {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  align-items: flex-start;
}

.page-title {
  font-size: 1.5rem;
  font-weight: 400;
}

.subtitle {
  font-size: 0.9rem;
  color: #979797;
}

.subscribe-btn {
  font-family: Roboto;
  font-size: 0.9rem;
  font-weight: 450;
  justify-self: flex-end;
  background-color: #cc0000;
  border: 1px solid #cc0000;
  border-radius: 2px;
  color: white;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.videos-list {
  padding: 1.5rem 2rem 1.5rem 6rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: flex-start;
  background-color: #0f0f0f;
}

.video-skeleton {
  margin-bottom: 2rem;
}
