.menu-icon {
  cursor: pointer;
}

.sidebar {
  min-width: 15rem;
  width: 15rem;
  background-color: #212121;
  color: white;
  transform: translateX(100%);
  margin-left: -15rem;
}

.sidebar__header {
  background-color: #212121;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 13rem;
  gap: 1.8rem;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 0;
}

.sidebar__main {
  margin-top: 3.95rem;
  max-height: 100vh;
  overflow: scroll;
  padding-right: 0.4rem;
}

.sidebar__main::-webkit-scrollbar-thumb {
  background-color: #212121;
}

.sidebar__main:hover::-webkit-scrollbar-thumb {
  background-color: rgb(116, 114, 114);
}

.sidebar__section {
  border-bottom: 1px solid #343434;
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
}

.sidebar__signin-section {
  padding: 1rem 2rem;
  border-bottom: 1px solid #343434;
}

.sidebar__section__title {
  color: #aaaaaa;
  font-weight: 450;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  padding-left: 2rem;
}

.sidebar__section__list {
  list-style: none;
  margin-block: 0;
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar__section__list-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  padding-left: 2rem;
}

.sidebar__section__list-item:hover {
  background-color: #383838;
}

.sidebar__section__list-item__icon {
  color: #aaaaaa;
}

.sidebar__section__list-item__text {
  font-size: 0.9rem;
  font-weight: 400;
}

.sidebar__signin-button {
  margin-top: 0.8rem;
  height: 2.25rem;
  width: 7.35rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #3ea6ff;
  border-radius: 2px;
  color: #3ea6ff;
  display: flex;
  gap: 0.7rem;
  padding: 0 0.6rem;
  align-items: center;
  font-size: 0.9rem;
  font-family: Roboto;
  font-weight: 450;
}

.sidebar__footer {
  padding: 1rem;
  padding-bottom: 0;
}

.sidebar__footer__primary-links {
  font-size: 0.8rem;
  font-weight: bold;
  color: #aaaaaa;
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.sidebar__footer__secondary-links {
  margin-top: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  color: #aaaaaa;
  display: flex;
  gap: 0.3rem;
  flex-wrap: wrap;
}

.sidebar__footer__copyright-text {
  color: #666666;
  font-size: 0.8rem;
  margin-top: 1rem;
}

.sidebar-closed {
  margin: 0;
  margin-top: 3.95rem;
  padding: 0;
  width: 5.5rem;
  background-color: #212121;
  color: white;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.sidebar-closed__list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0;
  color: #aaaaaa;
  width: 100%;
  cursor: pointer;
}

.sidebar-closed__list-item:hover {
  background-color: #383838;
  color: #ffffff;
}
